<InputFile id="fileInput" OnChange="UploadFiles" hidden multiple />

<MudGrid>
    <MudItem xs="12">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">

            <MudFab HtmlTag="label"
                    Color="Color.Dark"
                    Icon="@Icons.Filled.UploadFile"
                    for="fileInput" />
            <h3> Upload 2 csv _files to validate...</h3>

        </MudPaper>
    </MudItem>
    @if (Warning)
    {
        <MudItem xs="12">
            <MudAlert Severity="Severity.Error" Variant="Variant.Filled">
                @WarningMessage <button @onclick="@ClearWarning"><MudIcon Icon="@Icons.Filled.Close" /></button>
            </MudAlert>
        </MudItem>
    }
    <MudItem xs="12">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            @if (_files != null)
            {
                <MudText Typo="@Typo.h6">
                    @_files.Count() of 2 _files :
                </MudText>
                <MudList>
                    @foreach (var file in _files)
                    {
                        <MudListItem Icon="@Icons.Filled.AttachFile" @key="@file">
                            @file.Name <code>@file.Size bytes</code>
                            <button @onclick="@(func => RemoveFile(file))"><MudIcon Icon="@Icons.Filled.DeleteForever" /></button>
                        </MudListItem>
                    }
                </MudList>
            }


        </MudPaper>
    </MudItem>
    <MudItem xs="12">
        <div align="center">
            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Filled.Check" Color="Color.Dark" @onclick="@ValidateFiles">
                Validate
            </MudButton>
        </div>
    </MudItem>
</MudGrid>
